<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="cartItems.length >0 ">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Image</th>
                        <th width="50%">Détail</th>
                        <th width="30%"></th>

                    </tr>

                    <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <img src="{{tempCartItem.imageUrl}}" class="img-responsive">
                        </td>
                        <td>
                            <p>{{tempCartItem.name}}</p>
                            <p>{{tempCartItem.unitPrice | currency:'EUR'}}</p>
                        </td>
                        <td>
                            <div class="items">
                                <label>Quantité</label>

                                <div  class="row no-gutters">
                                    <div class="col">
                                        <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col ml-4 mr-2">
                                        {{tempCartItem.quantity}}
                                    </div>
                                    <div  class="col">
                                        <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                    </div>

                                    <div  class="col">
                                        <button (click)="remove(tempCartItem)" class="btn btn-primary btn-sm">
                                            Remove
                                        </button>
                                    </div>

                                    <div class="col-8"></div>

                                </div>
                            </div>

                            <p class="mt-2">Sous-total : {{tempCartItem.quantity * tempCartItem.unitPrice |
                            currency:'EUR'}}</p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold">
                            <p> Quantité totale : {{totalQuantity}}</p>
                            <p> Envoie gratuit </p>
                            <p> Prix totale : {{totalPrice | currency:'EUR'}}</p>
                        </td>
                    </tr>

                </table>

            </div>

            <!-- if cart is empty then display a message -->
            <div *ngIf="cartItems.length == 0 " class="alert alert-warning col-md-12" roel="alert">
                La liste de course est vide !
            </div>

        </div>
    </div>